

.nhsuk-breadcrumb {
    background-color: #f0f4f5;
}

.beta-card--plain {
        background-color: #f0f4f5;
        border: #f0f4f5;
        border-bottom: 4px solid #d8dde0;
        border-left: 0;
        border-right: 0;
        border-top: 0;
        padding: 0 0 32px;
}

.app-brightcove-video {
    background-color: #fff;
    border-bottom: 1px solid #d8dde0;
}


.app-brightcove-video--date {
    font-size: 14px;
    line-height: 1.66667;
    color: #4c6272;
    padding: 16px;
}

.app-feedback-banner{
    background-color: #fff;
    bottom: 0;
    box-shadow: 0 -4px 0 0 rgba(33,43,50,.16);
    display: none;
    margin: 0 auto;
    padding-bottom: 24px;
    padding-top: 24px;
    position: fixed;
    width: 100%;
    z-index: 20;
  }

.app-feedback-banner__heading{
    font-size: 1.7rem;
    line-height: 1.33333;
    margin: 0;
  } 

  .app-feedback-banner__content {
    position: relative;
  }

  .app-feedback-banner__message {
    padding-bottom: 0;
    margin-top: 8px;
  }

.app-feedback-banner__close {
  font-size: 12px;
  font-size: 1rem;
  line-height: 1.66667;
  color: #005eb8;
  background: 0 0;
  border: 0;
  color: #212b32;
  cursor: pointer;
  padding: 0;
  position: absolute;
  right: 0;
  text-decoration: underline;
  top: 0;
}

.app-feedback-banner__message .nhsuk-u-margin-bottom-4{
    margin-bottom: 10;
}


.app-feedback-banner__content::after {

    clear: both;
    content: "";
    display: block;

}

.app-feedback-banner__close:hover {
    color: #7c2855;
    text-decoration: none;
  }

  .app-feedback-banner__close:focus {
    background-color: #ffeb3b;
    box-shadow: 0 -2px #ffeb3b,0 4px #212b32;
    color: #212b32;
    outline: 4px solid transparent;
    text-decoration: none;
  }