<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  NHS.UK Catchments & Contact us
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1>Feedback components options</h1>
      
      <ul>
        <li>
          <a href="version1/feedback-option1">Feedback component 1</a>
          <ul>
            <li>
              <a href="version2/feedback-option1-2">Version 2</a> - Different copy
            </li>
            <li>
              <a href="version2/feedback-option1-3">Version 3</a> - Grey background colour & different styling 
            </li>
            <li>
              <a href="version2/feedback-option1-4">Version 4</a> - Yellow background colour & different styling 
            </li>
          </ul>

        </li>
        <li>
          <a href="version1-feedback-option2">Feedback component 2</a>
          <ul>
            <li>
              <a href="version2/feedback-option2-2">Version 2</a> - Different copy with white background
            </li>
            <li>
              <a href="version2/feedback-option2-3">Version 3</a> - Yellow background colour & different styling 
            </li>
            <li>
              <a href="version2/feedback-option2-4">Version 3</a> - Grey background colour & different styling 
            </li>
          </ul>
        </li>


        <li>
          <a href="version1/feedback-option3">Feedback component 3</a>
          <ul>
            <li>
              <a href="version2/feedback-option3-2">Version 2</a> - Different copy & grey background
            </li>
            <li>
              <a href="version2/feedback-option3-3">Version 3</a> - Different copy & yellow background
            </li>
          </ul>

        </li>


        <li>
          <a href="version2/feedback-option4">Feedback component 4</a> - Qualtrics


        </li>


      </ul>


     

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
