<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  NHS.UK Catchments & Contact us
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1>Feedback components options</h1>
      

      <h2>Yes / No component - Option 4</h2>
      <ul>
        <li><a href="version4/yes-no-component/version-a-true-intent-question-with-textbox-and-survey-link">Version A - Yes / no component</a></li>
        <li><a href="version4/yes-no-component/version-b-true-intent-question-with-textbox-and-survey-link">Version B - Yes / no component with radio buttons</a></li>
      </ul>

      <hr>
      <hr>

      <h2>In page component</h2>
      <ul>
        <li> <a href="version3/in-page-component/in-page-component-option-1">Option 1 (Blue and white)</a></li>
        <li><a href="version3/in-page-component/in-page-component-option-2">Option 2 (Grey and green)</a></li>
      </ul>


      <h2>Qualtrics component</h2>
      <ul>
        <li> <a href="version3/qualtrics/qualtrics">Qualtrics</a></li>
      </ul>


      <h2>Banner component</h2>
      <ul>
        <li><a href="version3/banner/banner-option-1">Option 1</a> </li>
      </ul>


      <h2>Yes / No component</h2>
      <ul>
        <li> <a href="version3/yes-no-component/version-a-yes-no-component">Version A - Yes / no component </a></li>
        <li><a href="version3/yes-no-component/version-b-voc-survey-with-no-textbox">Version B - VOC survey with no textbox</a></li>
        <li><a href="version3/yes-no-component/version-c-true-intent-question-with-textbox-and-survey-link">Version C - True intent question with textbox and survey link</a></li>
        <li><a href="version3/yes-no-component/version-d-true-intent-survey-with-no-textbox-and-a-survey-link">Version D - True intent survey with no textbox and a survey link</a></li>
        <li><a href="version3/yes-no-component/version-e-yes-no-component-thanks">Version E - Yes / no component - thanks</a></li>
      </ul>

      <hr>

      <p><a href="previous-versions">Previous versions</a></p>
    


     

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
