<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  NHS.UK Catchments & Contact us
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1>Feedback components options</h1>
      
      <h2>In page component</h2>
      <h3>Option 1</h3>
      <p>White card and link</p>
      <ul>
        <li><a href="in-page-component/option1-sore-throats">Sore throats</a> </li>
        <li><a href="in-page-component/option1-neck-pain-and-stiff-neck">Neck pain and stiff neck</a></li>
        <li><a href="in-page-component/option1-conjunctivitis">Conjunctivitis</a></li>
        <li><a href="in-page-component/option1-feeling-sick-nausea">Feeling sick nausea</a></li>
        <li><a href="in-page-component/option1-vitamin-b12-or-folate-deficiency-anaemia-symptoms">Vitamin b12 or folate deficiency anaemia > symptoms</a></li>
        <li><a href="in-page-component/option1-food-poisoning">Food poisoning</a></li>
      </ul>

      <h3>Option 2</h3> 
      <p>Grey card, green button & copy variation</p>
      <ul>
        <li><a href="in-page-component/option2-sore-throats">Sore throats</a> </li>
        <li><a href="in-page-component/option2-neck-pain-and-stiff-neck">Neck pain and stiff neck</a></li>
        <li><a href="in-page-component/option2-conjunctivitis">Conjunctivitis</a></li>
        <li><a href="in-page-component/option2-feeling-sick-nausea">Feeling sick nausea</a></li>
        <li><a href="in-page-component/option2-vitamin-b12-or-folate-deficiency-anaemia-symptoms">Vitamin b12 or folate deficiency anaemia > symptoms</a></li>
        <li><a href="in-page-component/option2-food-poisoning">Food poisoning</a></li>
      </ul>

      <h3>Option 3</h3> 
      <p>Grey banner card, grey button & copy variation</p>
      <ul>
        <li><a href="in-page-component/option3-sore-throats">Sore throats</a> </li>
        <li><a href="in-page-component/option3-neck-pain-and-stiff-neck">Neck pain and stiff neck</a></li>
        <li><a href="in-page-component/option3-conjunctivitis">Conjunctivitis</a></li>
        <li><a href="in-page-component/option3-feeling-sick-nausea">Feeling sick nausea</a></li>
        <li><a href="in-page-component/option3-vitamin-b12-or-folate-deficiency-anaemia-symptoms">Vitamin b12 or folate deficiency anaemia > symptoms</a></li>
         <li><a href="in-page-component/option3-food-poisoning">Food poisoning</a></li>
      </ul>

      <h3>Option 4</h3> 
      <p>Yellow banner card, green arrow link & copy variation</p>
      <ul>
        <li><a href="in-page-component/option4-sore-throats">Sore throats</a> </li>
        <li><a href="in-page-component/option4-neck-pain-and-stiff-neck">Neck pain and stiff neck</a></li>
        <li><a href="in-page-component/option4-conjunctivitis">Conjunctivitis</a></li>
        <li><a href="in-page-component/option4-feeling-sick-nausea">Feeling sick nausea</a></li>
        <li><a href="in-page-component/option4-vitamin-b12-or-folate-deficiency-anaemia-symptoms">Vitamin b12 or folate deficiency anaemia > symptoms</a></li>
        <li><a href="in-page-component/option4-food-poisoning">Food poisoning</a></li>
      </ul>
      
    <hr>

      <h2>Yes/No component</h2>
      <h3>Option 1</h3>
      <p>Different copy with white background</p>
      <ul>
        <li><a href="yes-no-component/option1-sore-throats">Sore throats</a> </li>
        <li><a href="yes-no-component/option1-neck-pain-and-stiff-neck">Neck pain and stiff neck</a></li>
        <li><a href="yes-no-component/option1-conjunctivitis">Conjunctivitis</a></li>
        <li><a href="yes-no-component/option1-feeling-sick-nausea">Feeling sick nausea</a></li>
        <li><a href="yes-no-component/option1-vitamin-b12-or-folate-deficiency-anaemia-symptoms">Vitamin b12 or folate deficiency anaemia > symptoms</a></li>
        <li><a href="yes-no-component/option1-food-poisoning">Food poisoning</a></li>
      </ul>

      <h3>Option 2</h3>
      <p>Yellow background colour & copy variation </p>
      <ul>
        <li><a href="yes-no-component/option2-sore-throats">Sore throats</a> </li>
        <li><a href="yes-no-component/option2-neck-pain-and-stiff-neck">Neck pain and stiff neck</a></li>
        <li><a href="yes-no-component/option2-conjunctivitis">Conjunctivitis</a></li>
        <li><a href="yes-no-component/option2-feeling-sick-nausea">Feeling sick nausea</a></li>
        <li><a href="yes-no-component/option2-vitamin-b12-or-folate-deficiency-anaemia-symptoms">Vitamin b12 or folate deficiency anaemia > symptoms</a></li>
        <li><a href="yes-no-component/option2-food-poisoning">Food poisoning</a></li>
      </ul>

      <h3>Option 3</h3>
      <p>Grey background colour & copy variation</p>
      <ul>
        <li><a href="yes-no-component/option3-sore-throats">Sore throats</a> </li>
        <li><a href="yes-no-component/option3-neck-pain-and-stiff-neck">Neck pain and stiff neck</a></li>
        <li><a href="yes-no-component/option3-conjunctivitis">Conjunctivitis</a></li>
        <li><a href="yes-no-component/option3-feeling-sick-nausea">Feeling sick nausea</a></li>
        <li><a href="yes-no-component/option3-vitamin-b12-or-folate-deficiency-anaemia-symptoms">Vitamin b12 or folate deficiency anaemia > symptoms</a></li>
        <li><a href="yes-no-component/option3-food-poisoning">Food poisoning</a></li>
      </ul>

      <hr>

      <h2>Banner component</h2>
      <h3>Option 1</h3>
      <p>Different copy & grey background</p>
      <ul>
        <li><a href="banner/option1-sore-throats">Sore throats</a> </li>
        <li><a href="banner/option1-neck-pain-and-stiff-neck">Neck pain and stiff neck</a></li>
        <li><a href="banner/option1-conjunctivitis">Conjunctivitis</a></li>
        <li><a href="banner/option1-feeling-sick-nausea">Feeling sick nausea</a></li>
        <li><a href="banner/option1-vitamin-b12-or-folate-deficiency-anaemia-symptoms">Vitamin b12 or folate deficiency anaemia > symptoms</a></li>
        <li><a href="banner/option1-food-poisoning">Food poisoning</a></li>
      </ul>

      <h3>Option 2</h3>
      <p>Different copy & yellow background</p>
      <ul>
        <li><a href="banner/option1-sore-throats">Sore throats</a> </li>
        <li><a href="banner/option1-neck-pain-and-stiff-neck">Neck pain and stiff neck</a></li>
        <li><a href="banner/option1-conjunctivitis">Conjunctivitis</a></li>
        <li><a href="banner/option1-feeling-sick-nausea">Feeling sick nausea</a></li>
        <li><a href="banner/option1-vitamin-b12-or-folate-deficiency-anaemia-symptoms">Vitamin b12 or folate deficiency anaemia > symptoms</a></li>
        <li><a href="banner/option1-food-poisoning">Food poisoning</a></li>
      </ul>

      <hr>

      <h2>Qualtrics</h2>
      <ul>
        <li><a href="qualtrics/sore-throats">Sore throats</a></li>
        <li><a href="qualtrics/neck-pain-and-stiff-neck">Neck pain and stiff neck</a></li>
        <li><a href="qualtrics/conjunctivitis">Conjunctivitis</a></li>
        <li><a href="qualtrics/feeling-sick-nausea">Feeling sick nausea</a></li>
        <li><a href="qualtrics/vitamin-b12-or-folate-deficiency-anaemia-symptoms">Vitamin b12 or folate deficiency anaemia > symptoms</a></li>
        <li><a href="qualtrics/food-poisoning">Food poisoning</a></li>
      </ul>


     

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
